name: Test build docker image

on:
  pull_request:
    branches:
    - main

jobs:
  test-build-docker-image:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: test build image
      uses: jupyterhub/repo2docker-action@master
      with:
        NO_PUSH: 'true'
        IMAGE_NAME: "workshop-gfz-2021-01/repo2docker-test"
